// Blur styling
.gradient-1 {
  width: 50px;
  height: 100px;
  position: absolute;
  background: $first-g;
  filter: blur(300px);
  right: 0;
  z-index: 99;

  @media screen and (min-width: 44em) {
    width: 150px;
    height: 70px;
    background: $first-g;
    filter: blur(400px);
    position: absolute;
    right: 0;
  }
}
.gradient-2 {
  background: #fdd817;
  filter: blur(400px);
  width: 70px;
  height: 50px;
  position: absolute;
  top: 300px;
  right: 0;
  z-index: 99;

  @media screen and (min-width: 44em) {
    width: 80px;
    height: 60px;
    background: $second-g;
    filter: blur(500px);
    position: absolute;
    right: 100px;
    top: 350px;
    z-index: 99;
  }
}
.gradient-3 {
  width: 80px;
  height: 60px;
  background: $third-g;
  filter: blur(500px);
  position: absolute;
  // left: 100px;
  top: 400px;
  z-index: 99;

  @media screen and (min-width: 44em) {
    width: 400px;
    height: 100px;
    background: $third-g;
    filter: blur(500px);
    position: absolute;
    top: 460px;
    right: 0;
  }
}

.landing {
  // display: flex;
  // margin-top: 60px;
  margin-top: 50px;
  @media screen and (min-width: 44em) {
    margin-top: 40px;
    // flex-direction: column;
  }
}

figure {
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 50px;
  /* identical to box height */
  text-align: left;
  letter-spacing: -0.03em;
  --animate-delay: 10s;
  color: #000000;
  // flex: 2;

  @media screen and (min-width: 44em) {
    text-align: left;
  }
}
.product-contain {
  display: flex;
  width: 100%;
  flex-direction: column;
  // background-color: red;
  // padding: 0;
  justify-content: center;
  align-items: center;

  @media screen and (min-width: 44em) {
    flex-direction: row;
    justify-content: flex-start;
  }
}

.products {
  font-family: "Playfair Display", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  line-height: 126%;
  text-align: left;
  color: #000000;
  // padding: 0px 60px 0 0;
  // background: red;
  // flex: 1;

  @media screen and (min-width: 44em) {
    font-family: "Playfair Display", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 100px;
    line-height: 100px;
    text-align: center;
    color: #000000;
    // padding: 0 10px;
    width: 50%;
    text-align: left;
    display: inline-block;
  }
}
.lorem {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: 0.05em;
  color: #ff8d3a;
  display: inline-block;
  width: 100%;
  text-align: left;
  margin-top: 20px;

  @media screen and (min-width: 44em) {
    width: 30%;
    text-align: left;
  }
}

.adds-service {
  margin-top: 50px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media screen and(min-width: 44em) {
    width: 45%;
  }
  a {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 200;
    font-size: 16px;
    line-height: 163.5%;
    /* or 29px */
    letter-spacing: 0.05em;
    text-decoration-line: underline;
    color: #000000;
    // display: inline-block;
    // width: 25%;
    @media screen and (min-width: 44em) {
      font-family: "Rubik";
      font-style: normal;
      font-weight: 300;
      font-size: 28px;
      line-height: 163.5%;
      /* identical to box height, or 46px */
      letter-spacing: 0.05em;
      text-decoration-line: underline;
      color: #000000;
    }
  }
}
.arrow-down-wrap {
  position: absolute;
  top: 120%;
  left: 34%;
  height: 10px;
  animation: bounce 2s infinite;
  background-color: red;
  width: 0px;
  @media screen and (min-width: 44em) {
    top: 70%;
    left: 70%;
  }

  .line {
    width: 100px;
    transform: rotate(90deg);
    border: 2px solid #000000;
    // height: 120px;
    background-color: #000000;
    display: inline-block;
    position: relative;
  }
  .arrow-down {
    border: solid #000000;
    border-width: 0px 3px 3px 0px;
    display: inline-block;
    padding: 5px;
    transform: rotate(45deg);
    position: relative;
    top: 30px;
    left: 43px;
  }
}

// .works-btn {
//   width: 239px;
//   height: 61px;
//   border: 1px solid #000000;
//   box-sizing: border-box;
//   border-radius: 50%;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   text-align: center;
//   margin: 50px auto;
//   text-decoration: none;
//   font-family: "Playfair Display", sans-serif;
//   font-style: normal;
//   font-weight: normal;
//   font-size: 20px;
//   line-height: 27px;
//   /* identical to box height */
//   color: #000000;

//   @media screen and (min-width: 44em) {
//   }
// }

.social-wrap {
  width: 100%;
  display: flex;
  justify-content: center;
  height: auto;
  margin-top: 50px;

  @media screen and (min-width: 44em) {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: auto;
    margin-top: 150px;
  }

  .scroll-sign {
    width: 20%;
    // background: red;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "DM Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: -0.01em;
    color: #000000;
    text-transform: capitalize;

    @media screen and(min-width: 44em) {
      width: 7%;
    }
  }

  .social {
    display: none;
    @media screen and(min-width: 44em) {
      width: 15%;
      // background: red;
      display: flex;
      justify-content: space-between;
      a {
        font-family: "DM Sans";
        font-style: normal;
        font-weight: normal;
        font-size: 17px;
        line-height: 22px;
        letter-spacing: -0.01em;
        text-decoration: none;
        color: #000000;
        transition: color 0.5s ease-in;

        &:hover {
          color: #000000b2;
          transition: color 0.5s ease-in;
        }
      }
    }
  }

  @-webkit-keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
      -webkit-transform: translateY(0);
    }
    40% {
      -webkit-transform: translateY(-30px);
    }
    60% {
      -webkit-transform: translateY(-15px);
    }
  }
  @-moz-keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
      -moz-transform: translateY(0);
    }
    40% {
      -moz-transform: translateY(-30px);
    }
    60% {
      -moz-transform: translateY(-15px);
    }
  }
  @keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
      -webkit-transform: translateY(0);
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -o-transform: translateY(0);
      transform: translateY(0);
    }
    40% {
      -webkit-transform: translateY(-30px);
      -moz-transform: translateY(-30px);
      -ms-transform: translateY(-30px);
      -o-transform: translateY(-30px);
      transform: translateY(-30px);
    }
    60% {
      -webkit-transform: translateY(-15px);
      -moz-transform: translateY(-15px);
      -ms-transform: translateY(-15px);
      -o-transform: translateY(-15px);
      transform: translateY(-15px);
    }
  }
}
