h1 {
  @include subhead;
  // background-color: red;
}
.works {
  padding: 0 !important;
  line-height: 100px !important;
  width: 100%;
  &:after {
    content: "";
    width: 90%;
    opacity: 0.8;
    border: 1px solid #000000;
    display: block;

    @media screen and (min-width: 44em) {
      width: 80%;
    }
  }

  @media screen and(min-width: 44em) {
    padding: 0 !important;
    margin: 0 !important;
    line-height: 140px !important;
  }
}

.wrapper-inner {
  // display: flex;
  // flex-direction: row;
  // justify-content: space-between;
  width: 100%;
  margin-top: 150px;
  // position: fixed;
  // transform: rotate(90deg) translateY(-80vh);
  // transform-origin: top left;
  scroll-snap-type: x proximity;

  // scroll-behavior: smooth;

  @media screen and (min-width: 44em) {
    width: 100%;
    // transform: rotate(90deg) translateY(-100vh);
  }

  li {
    width: 90vw;
    height: 55vh;
    list-style: none;
    scroll-snap-align: center;
    margin-right: 50px;
    //   background-color: gray;
    // border: 1px solid #000;

    @media screen and (min-width: 44em) {
      width: 45vw;
      height: 100vh;
      margin-right: 300px;
    }
    .a-one {
      background-color: #d1bea8;
    }
    .a-two {
      background-color: #d1a8ae;
    }
    .a-three {
      background-color: #77340d;
    }
    .a-four {
      background-color: #fc552c91;
    }

    a {
      width: 80%;
      height: 80%;
      display: inline-block;

      @media screen and (min-width: 44em) {
        width: 100%;
        height: 75%;
      }
      .phone {
        background: url(/images/works-main.png);
        background-size: 100% 100%;
        background-position: bottom;
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;

        @media screen and (min-width: 44em) {
          width: 90%;
          height: 90%;
          background: url(/images/first-image.png);
          background-size: 65% 85%;
          background-position: bottom;
          background-repeat: no-repeat;
        }
      }
    }

    .card-foot {
      width: 100%;
      height: 20%;
      // background-color: yellow;
      @media screen and (min-width: 44em) {
        width: 100%;
        height: 25%;
      }
    }
  }
}

.highlight {
  font-family: "Rubik";
  font-style: normal;
  font-weight: normal;
  font-size: 60px;
  line-height: 71px;
  letter-spacing: -0.05em;
  position: relative;
  top: 320px;
  z-index: 8;
  left: -10px;
  color: #000000;
  //   transform: rotate(90deg);

  @media screen and(min-width: 44em) {
    font-family: "Rubik";
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    line-height: 71px;
    letter-spacing: -0.05em;
    position: relative;
    top: 600px;
    left: -70px;
    z-index: 8;
    color: #000000;
    //   transform: rotate(90deg);
  }
}
.also {
  @media screen and (max-width: 44em) {
    display: none;
  }
}
