.see-all {
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // background-color: #000000;
  margin: {
    left: auto;
    right: auto;
    top: 150px;
  }
  @media screen and (min-width: 44em) {
    width: 20%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin: 150px auto;
    // background: red;
  }

  .see-btn {
    width: 120px;
    height: 120px;
    // background: red;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border: 1px solid #000000;
    font-family: "Playfair Display";
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 27px;
    /* identical to box height */
    color: #000000;
    position: relative;

    &:hover {
      background: #000000;
      color: #ffffff;
      transition: all 0.3s ease-in;
      border: none;
    }
    // transform: translate(-10px, 1150px);
    margin: {
      left: auto;
      right: auto;
    }
    @media screen and (min-width: 44em) {
      width: 100px;
      height: 100px;
      // background: red;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      border: 1px solid #000000;
      font-family: "Playfair Display";
      font-style: normal;
      font-weight: normal;
      font-size: 15px;
      line-height: 27px;
      /* identical to box height */
      color: #000000;
      // transform: translate(0, 0);
    }
  }
}

blockquote {
  width: 100%;
  display: flex;
  flex-direction: column;
  // align-items: left;
  justify-content: left;
  // background: red;
  overflow: hidden;
  padding: 15px;

  @media screen and (min-width: 44em) {
    width: 80%;
    margin-left: auto;
    padding: 0;
  }

  h1 {
    @include subhead;
    width: 100%;
    line-height: 210%;
    // background-color: red;
    font-size: 60px;
    padding: 0;
    // width: 100%;
    @media screen and (min-width: 44em) {
      @include subhead;
      width: 100%;
    }
    &:after {
      content: "";
      width: 100%;
      border: 1px solid #000000;
      opacity: 0.8;
      display: block;

      @media screen and (min-width: 44em) {
        width: 90%;
      }
    }
  }

  h3 {
    font-family: "Playfair Display";
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 53px;

    color: #000000;

    @media screen and(min-width: 44em) {
      font-family: "Playfair Display";
      font-style: normal;
      font-weight: normal;
      font-size: 60px;
      line-height: 80px;

      color: #000000;
    }
  }

  .leaders {
    font-family: "DM Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 159.2%;
    /* or 32px */
    letter-spacing: -0.01em;
    color: #000000;
    opacity: 0.8;
    // margin-top: -80px;
    // margin-right: 120px;
    padding: 50px 0;
    // background-color: rgb(55, 0, 255);

    @media screen and (min-width: 44em) {
      padding: 15px 350px 25px 0;
      font-size: 20px;
      position: relative;
      left: 0px;
      margin-top: 100px;
    }
  }

  .text-wrap {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    // align-items: center;

    @media screen and (min-width: 44em) {
      flex-direction: row;
      margin-top: 150px;
    }
    .text {
      flex: 1;
      text-align: left;
      //   background: red;
      //   border-right: 1px solid black;
      @media screen and (min-width: 44em) {
        text-align: left;
      }
      h5 {
        font-family: "DM Sans", sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 200.2%;
        /* identical to box height, or 32px */
        letter-spacing: -0.01em;
        color: #000000;
        // margin-bottom: 4px;
      }
      li {
        list-style: none;
        font-family: "DM Sans", sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 159.2%;
        /* or 32px */
        letter-spacing: -0.01em;
        color: #000000;
        opacity: 0.7;
      }
    }

    .text-2,
    .text-3 {
      @media screen and (max-width: 44em) {
        margin-top: 30px;
      }
    }
  }
}
