.what-we-do {
  width: 100%;
  display: flex;
  flex-direction: column;

  .deeds {
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 0 25px;

    @media screen and (min-width: 44em) {
      width: 100vw;
      height: 90vh;
      display: flex;
      justify-content: space-between;
      flex-direction: row;
    }

    .img-deed-wrap {
      width: 100%;
      height: 400px;

      @media screen and (min-width: 44em) {
        width: 45%;
        height: 100%;
      }

      img {
        max-width: 100%;
        height: auto;
      }
    }
    .text-deed-wrap {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      // padding: 100px 0;
      // background-color: red;

      @media screen and(min-width: 44em) {
        width: 60%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        // padding: 100px 0;
        // background-color: red;
      }

      .words {
        width: 100%;
        height: 80%;
        // background-color: #000000;
        padding-top: 100px;

        @media screen and(min-width: 44em) {
          width: 60%;
          height: 80%;
          // background-color: #000000;
          padding-top: 60px;
        }

        h6 {
          font-family: "DM Sans";
          font-style: normal;
          font-weight: 500;
          font-size: 20px;
          line-height: 159.2%;
          /* identical to box height, or 32px */

          letter-spacing: -0.01em;

          color: #000000;

          opacity: 0.8;
        }
        p {
          font-family: "DM Sans";
          font-style: normal;
          font-weight: normal;
          font-size: 20px;
          line-height: 159.2%;
          /* or 32px */
          margin-top: 50px;
          letter-spacing: -0.01em;

          color: #000000;
          // padding-right: 20px;
          opacity: 0.8;
          @media screen and (min-width: 44em) {
            padding-right: 80px;
          }
        }
        .see-deeds {
          // background-color: blue;
          margin-top: 30px;
          margin-left: 0;

          @media screen and (min-width: 44em) {
            margin-top: 50px;
            margin-left: 0;
          }
        }
      }
    }
  }

  .deed-two {
    .img-deed-wrap {
      order: 2;
    }
  }
  .deed-two {
    margin: {
      top: 200px;
      bottom: 200px;
    }

    @media screen and (min-width: 44em) {
      margin: {
        top: 80px;
        bottom: 80px;
      }
    }
  }
}
