.all-project {
  width: 100%;
  padding: 50px 190px 0 190px;
  //   background-color: red;

  .filter-anchor {
    font-size: 25px;
    font-family: "DM SANS";
    opacity: 0.6;
    display: block;
    // margin-top: 200px;
    // position: absolute;
  }
  .filter-btn {
    font-family: "DM SANS";
    font-size: 50px;
    line-height: 90px;
    width: max-content;

    &:hover {
      cursor: pointer;
      &::after {
        width: 0;
        transition: all 0.5s ease-in-out;
        border-color: #ffffff;
      }
    }

    i {
      font-size: 20px;
      margin-left: 10px;
    }
    &:after {
      content: "";
      width: 90%;
      display: block;
      border: thin solid black;
      transition: width 0.5s ease-in-out;
    }
  }

  .project-link {
    width: 90%;
    height: 100px;
    max-height: 0;
    transition: all 0.5s ease-in-out;
    // background: red;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    overflow: hidden;
    opacity: 0;

    .p-link-items {
      font-family: "DM SANS";
      font-size: 2em;
      list-style: none;
      // text-align: center;
      // width: 23%;
      // font-size: 5em;
      a {
        display: block;
        text-decoration: none;
        // background-color: blue;
        color: #000000;
      }
    }
    .s-link {
      opacity: 0.4;
      // border-bottom: 1px solid #000000;
      line-height: 180%;
      transition: all 0.5s ease-in;
    }
  }
  .clicked {
    max-height: 400px;
    transition: all 0.5s ease-in-out;
    opacity: 1;
  }

  .projects-wrap {
    width: 100%;
    display: flex;
    height: auto;
    justify-content: space-between;
    visibility: hidden;
    max-height: 0;
    overflow: hidden;
    // background: red;

    .projects {
      width: 46%;
      height: auto;

      .projects-card {
        width: 100%;
        height: 55rem;
        // background-color: red;
        // border: 1px solid #000000;
        margin-bottom: 40px;
        transform: scale(1.02);

        .app-one {
          background: url(/images/app-1.jpg);
        }
        .app-two {
          background: url(/images/app-7.jpg);
        }
        .app-three {
          background: url(/images/app-2.jpg);
        }
        .app-four {
          background: url(/images/app-6.jpg);
        }
        .app-five {
          background: url(/images/app-4.jpg);
        }
        .app-six {
          background: url(/images/app-5.jpg);
        }
        .app-seven {
          background: url(/images/app-3.jpg);
        }
        .app-eight {
          background: url(/images/app-4.jpg);
        }
        .app-nine {
          background: url(/images/app-2.jpg);
        }
        .app-ten {
          background: url(/images/app-1.jpg);
        }
        // visibility: hidden;
        .img-description {
          width: 100%;
          height: 80%;
          // background: url(/images/app-1.jpg);
          background-size: 100% 100%;
          background-repeat: no-repeat;
          display: block;
        }
      }
    }
    .projects-right {
      margin-top: 200px;
      order: 2;
    }
  }
  .selected-pro {
    visibility: visible;
    max-height: 450rem;
    margin-top: 200px;
  }
}
